.leftChat{
    flex: 2.5;
}
.leftChatbox{
    width: 100%;
    
    height: calc(100vh - 50px);
  
    padding: 10px;
    padding-top: 50px;
    overflow-y: scroll;
}
.leftChatbox .form-control{
    border: none;
    border-bottom: 2px solid grey;
}
.leftChatbox .form-control:focus{
   box-shadow: none;
}
.conversationitems{
display: flex;
padding: 5px;
cursor: pointer;
margin: 5px 0;
}
.conversationitemsimg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit:cover;
}
.conversationitems:hover{
    background-color: rgb(247, 245, 245);
}