.notifi{
    width: 100%;
    height: auto;
    background-color: ghostwhite;
}
.notifi .card{
    width: 100%;
    height: auto;
    border: none;
    box-shadow: 0px 0px 16px -8px grey;
    cursor: pointer;
}
.loadder{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: ghostwhite;
}